<html>
  <head>
    <link rel="stylesheet" href="/static/style1.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="bg-gradient"></div>
    <section>
      <div class="card-group">             
        <div class="col-md-4">
          <div class="card card-01">
            <div class="profile-box">
              <img class="card-image-top rounded-circle" src="/static/images/Arsène.jpg" alt="Card image cap">
            </div>
            <div class="card-body text-center">
              <h2 class="card-title">Arsène FOUGEROUSE</h2>
              <hr class="gradient-rb"> 
              <i class="fab fa-html5 fa-code" data-toggle="tooltip" data-placement="top" title="HTML 5"></i>
              <i class="fas fa-pepper-hot fa-code" data-toggle="tooltip" data-placement="top" title="FLASK"></i>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              <i class="fas fa-envelope"></i>
              <input type="text" value="arsene582@gmail.com" id="myInput1">
              <button class="btn btn-primary btn-sm copy-button1" onclick="onClickFunction(1)">Copier</button>
              <hr>
              <span class="social-box">
                <a target=_blank rel=noopener noreferrer href="https://www.facebook.com/profile.php?id=100010384714311"><i class="fab fa-facebook fa-2x fa-rotating"></i></a>
                <a target=_blank rel=noopener noreferrer href="https://www.instagram.com/ar5oulouk.0ne/"><i class="fab fa-instagram fa-2x fa-rotating"></i></a> 
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-02">
            <div class="profile-box">
              <img class="card-image-top rounded-circle" src="/static/images/Laura.jpg" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <h2 class="card-title">Laura UHLRICH</h2>
                <hr class="gradient-bg"> 
                <i class="fab fa-python fa-code" data-toggle="tooltip" data-placement="top" title="PYTHON"></i>
                <i class="fas fa-pepper-hot fa-code" data-toggle="tooltip" data-placement="top" title="FLASK"></i>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               
                <i class="fas fa-envelope"></i>
                <input type="text" value="laura.uhlrich67@gmail.com" id="myInput2">
                <button class="btn btn-primary btn-sm copy-button2" onclick="onClickFunction(2)">Copier</button>
                <hr>
                <span class="social-box">
                  <a target=_blank rel=noopener noreferrer href="https://www.facebook.com/profile.php?id=100009487338568"><i class="fab fa-facebook fa-2x fa-rotating"></i></a>
                  <a target=_blank rel=noopener noreferrer href="https://www.instagram.com/laulau_uhlrich/"><i class="fab fa-instagram fa-2x fa-rotating"></i></a>
                  <a target=_blank rel=noopener noreferrer href="https://twitter.com/elkromosome"><i class="fab fa-twitter fa-2x fa-rotating"></i></a>
                  <a target=_blank rel=noopener noreferrer href="https://www.snapchat.com"><i class="fab fa-snapchat-ghost fa-2x fa-rotating"></i></a>  
                </span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-01">
            <div class="profile-box">
              <img class="card-image-top rounded-circle" src="/static/images/Gabriel.jpg" alt="Card image cap">
            </div>
            <div class="card-body text-center">
                <h2 class="card-title">Gabriel THOLONIAT</h2>
                <hr class="gradient-gr">
                <i class="fab fa-html5 fa-code" data-toggle="tooltip" data-placement="top" title="HTML 5"></i> 
                <i class="fab fa-css3-alt fa-code" data-toggle="tooltip" data-placement="top" title="CSS 3"></i>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <i class="fas fa-envelope"></i>
                <input type="text" value="gabriel.thol@gmail.com" id="myInput3">
                <button class="btn btn-primary btn-sm copy-button3" onclick="onClickFunction(3)">Copier</button>
                <hr>
                <span class="social-box">
                  <a target=_blank rel=noopener noreferrer href="https://www.facebook.com/gabriel.tholoniat"><i class="fab fa-facebook fa-2x fa-rotating"></i></a>
                  <a target=_blank rel=noopener noreferrer href="https://www.instagram.com/gablethugdu67/"><i class="fab fa-instagram fa-2x fa-rotating"></i></a>
                  <a target=_blank rel=noopener noreferrer href="https://www.snapchat.com"><i class="fab fa-snapchat-ghost fa-2x fa-rotating"></i></a>  
                </span>
            </div>
          </div>
        </div>
      </div>      
    </section>

  </body>
  <script>
    $('button').tooltip({
      trigger: 'click',
      placement: 'top'
    });

    function setTooltip(message, buttonnum) {
      $('.copy-button' + buttonnum).tooltip('hide')
        .attr('data-original-title', message)
        .tooltip('show');
    }

    function hideTooltip() {
      setTimeout(function() {
        $('button').tooltip('hide');
      }, 750);
    }

    function onClickFunction(num) {
      var copyText = document.getElementById("myInput" + num );
      copyText.select();
      document.execCommand("copy");
      setTooltip('Adresse copiée !', num);
      hideTooltip();    
    }
    
  </script>
</html>