<!DOCTYPE html>
<html>
	<head>
		<title>Informations</title>
			<link rel="stylesheet" href="/static/style1.css">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		</head>
		<body>
		<section>
    <div class="card-group">  
        <div class="row">
        <div class="col-md-4">

          <div class="card card-01">
          <img class="card-img-top" src="/static/images/séismes.jpg" alt="Card image cap">
          <div class="card-body">
            <span class="badge-box"><i class="fa fa-check"></i></span>
            <h4 class="card-title">Qu'est ce qu'un séisme ?</h4>
            <p class="card-text">Un séisme ou tremblement de terre est une secousse du sol résultant de la libération brusque d'énergie accumulée par les contraintes exercées sur les roches. Cette libération d'énergie se fait par rupture le long d'une faille, généralement préexistante. Plus rares sont les séismes dus à l'activité volcanique ou d'origine artificielle (explosions par exemple). Le lieu de la rupture des roches en profondeur se nomme le foyer ; la projection du foyer à la surface est l'épicentre du séisme. Le mouvement des roches près du foyer engendre des vibrations qui se propagent, sous la forme d'ondes sismiques, autour et au travers du globe terrestre. Il produit aussi un dégagement de chaleur par frottement, au point de parfois fondre les roches le long de la faille.</p>
          </div>
        </div>
        </div>

        <div class="col-md-4">
          <div class="card card-01">
					<img class="card-img-top" src="/static/images/tableau2.jpg" alt="Card image cap">
	        <div class="card-body">
	           <span class="badge-box"><i class="fa fa-check"></i></span>
	           <h4 class="card-title">échelle de Richter</h4>
	           <p class="card-text">Plus le séisme a libéré d'énergie, plus la magnitude est élevée : un accroissement de magnitude de 1 correspond à une multiplication par 30 de l'énergie et par 10 de l'amplitude du mouvement.</p>
	          </div>
	        </div>
	        </div>


        <div class="col-md-4">
          <div class="card card-01">
        <div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/c0UsOlqG_Xk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="card-body">
            <span class="badge-box"><i class="fa fa-check"></i></span>
            <h4 class="card-title">C'est pas sorcier</h4>
            <p class="card-text">Une vidéo de c'est pas sorcier sur les séismes</p>
          </div>
  </div>


        </div>
        </div>
    </div>
		<div class="d-flex justify-content-center">
				<div class="button-footer-info">
					<a href="http://127.0.0.1:5000/lastseismes/5/0"><button type="button" class="btn btn-light btn-lg button-shadow">
							<span style="white-space: nowrap;"><i class="fas fa-home"></i></span><span> Accueil</span>
					</button></a>
					<a href="infos.html"><button type="button" class="btn btn-dark btn-lg button-shadow">Infos</button></a>
					<a target=_blank rel=noopener noreferrer href="https://earthquake.usgs.gov/">
						<button type="button" class="btn btn-dark btn-lg button-shadow">
						Données
					</button></a>
					<a href="http://127.0.0.1:5000/equipe"><button type="button" class="btn btn-dark btn-lg button-shadow">L'équipe</button></a>
				</button></a>
				</div>
			</div>
</section>



</body>
</html>
