#bg-gradient{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	background-image: linear-gradient(50deg, #262A34, #444444, #aaaaaa);
}

section{
	position: absolute;
	top: 2em;
	left: 3em;
	bottom: 2em;
	width: calc(100%/3 - 6em);
	border-radius: 4em;
}

#gabriel{

	background-image: linear-gradient(to right, #85C9C8, #E5FDC9);
}

#laura{
	margin-left: calc(100%/3);
	background-image: linear-gradient(to right, #556270, #C44D58);
}

#arsene{
	margin-left: calc(2 * (100%/3) );
	background-image: linear-gradient(to right, #036564, #033649);
}

.fab.fa-rotating:hover{  
	transform: scale(1.2) rotate(359deg);

}

.fab.fa-rotating{
	
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 40px;
	text-align: center;
	border-radius: 50%;
	margin-top: 10px;
	color: #ffffff;
	background-color: #3C599F;
	transition-duration: 500ms;
	transition-property: all;
	transition-timing-function: cubic-bezier(.18,.89,.46,1.07);
	cursor: pointer;
}

.fas.fa-rotating:hover{  
	transform: scale(1.2) rotate(359deg);	
	background-color: #ffffff;
	color:  firebrick;
}

.fas.fa-rotating{
	
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 40px;
	text-align: center;
	border-radius: 50%;
	margin-top: 10px;
	color: #ffffff;
	background-color: firebrick;
	transition-duration: 500ms;
	transition-property: all;
	transition-timing-function: cubic-bezier(.18,.89,.46,1.07);
	cursor: pointer;
}

.fab.fa-facebook:hover{
	color:#3C599F;
	background-color:#ffffff;
}

.fab.fa-instagram:hover{
	color: #333333;
	background: #ffffff;
}

.fab.fa-twitter:hover{
	color: #4099FF;
	background-color:#ffffff;
}

.fab.fa-twitter{
	color: #ffffff;
	background-color:#4099FF;
}

.fab.fa-github:hover{
	color: #4183C4;
	background-color:#ffffff;
}

.fab.fa-github{
	color: #ffffff;
	background-color:#4183C4;
}


.fab.fa-instagram{
	background: radial-gradient(circle farthest-corner at 35% 100%, #fec564, transparent 50%),
   radial-gradient(circle farthest-corner at 10% 140%, #feda7e, transparent 50%),
   radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
   radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
   radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
   radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
   radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
   linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);
	color: #fff;
	padding: 0px;
	border-radius: 50%;
  }